* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#changeColorButton {
    padding: 1rem;
    color: #fff;
    background-color: rgb(40, 59, 82); 
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
}

#changeColorButton:hover {
    transition: all ease-in-out 100ms;
    background-color: rgb(68, 99, 136);
    border: 1px solid #fff;
    box-shadow: 1px 2px 11px 5px #0000003d;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: 100dvh;
    width: 100dvw;
    background-color: rgb(97, 126, 160);
}

.cursor {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
