* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#changeColorButton {
    padding: 1rem;
    color: #fff;
    background-color: rgb(40, 59, 82); 
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    box-shadow: 0px 0px 11px 5px #0000003d;
}

#changeColorButton:hover {
    transition: all ease-in-out 100ms;
    background-color: rgb(68, 99, 136);
    border: 1px solid #fff;
    box-shadow: 1px 2px 11px 5px #0000003d;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: 100dvh;
    width: 100dvw;
    background-color: rgb(97, 126, 160);
}
